[submodule "client/libmx"]
	path = client/libmx
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-libmx
[submodule "server/libmx"]
	path = server/libmx
	url = https://github.com/viacheslavpleshkov/unit-factory-ucode-libmx
