* {
    background-image: -gtk-gradient (linear,
    0 0, 0 1,
    color-stop(0, yellow),
    color-stop(0.2,@blue),
    color-stop(1, #0f0));
    font-family: "Ubuntu Mono";
    font-weight: bolder;
    border-radius: 5px;
    color: aliceblue;
    outline: 0;
}
*:active, *:hover, *:focus {
    box-shadow: none;
    border-color: #2583c7;
}
#add_chat_button {
    background-image: url("plus.png");
}

label {
    background-image: none;
    background-color: transparent;
}

box > label {
    margin-top: 1.1em;
    color: #2583c7;
    font-family: C059;
    background: none;
    box-shadow: none;
    border-width: 1px;
}
button {
    background-image: none;
    background-color: transparent;
    font-weight: bold;
    box-shadow: none;
    border-width: 1px;
}
#dialog label {
    color: #000;
}

textview text{
    box-shadow: none;
    border: .7px solid white;
    color: #737A82;
    font-weight: 300;
}
