* {
    background: #494d57;
    font-family: Vemana2000;
    color: aliceblue
}
entry {
    border: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
}
box > label {
    font-family: Chilanka;
    background: none;
    text-shadow: white 0 0 .5px;
    /*font-weight: bold;*/
    box-shadow: none;
    border-width: 1px;
}
label:hover {
    border-color: #2583c7;
    caret-color: aquamarine;

}
button {
    text-shadow: white 0 0 .5px;
    font-weight: bold;
    box-shadow: none;
    border-width: 1px;
}

button:hover {
    border-color: #2583c7;

}
window {

}
/*button:hover, b:hover > label{*/
/*    color: #2583c7;*/
/*    background-color: brown;*/
/*    cursor: pointer;*/
/*    user-select: all;*/
/*    border: none;*/
/*    outline: none;*/
/*    transition: background 9999999s;*/
/*}*/
/*#dark:active, #dark:active > label {*/
/*    background: #251c37*/
/*}*/


