* {background: #494d57;
    font-family: "Apple SD Gothic Neo";
    color: aliceblue
}
button {
    text-shadow: white 0 0 .5px;
    font-weight: bold;
    box-shadow: none;
    border-width: 1px;
}

button:hover {
    border-color: #2583c7;

}


